<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block menu %}
        {% endblock menu %}
        {% block body %}
        {% endblock %}
    </body>
</html>